@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: "Roboto Mono", sans-serif;
}

body {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    background-color: black;
}

#baseDiv {
    display: grid;
    background-color:aliceblue;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: .5fr 4fr;
    padding: 0;
    margin: 0;
}

#baseDiv > * {
    display: grid;
}

#header {
    /* grid-template-columns: 3fr 2.5fr; */
    grid-template-rows: 3.5rem 4rem;
    gap: 15px;
    background-color: white;
    box-shadow: 0px 2px 2px gray;
    padding: 15px;
    font-size: .75rem;
}

#sideMenu {
    background-color: #0353a4;
    grid-row: 1/3;
    grid-column: 1/2;
    grid-template-rows: 50px .5fr 1fr;
    gap: 15px;
    color: white;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
}

#backToDashboard {
    padding: .5rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.icon {
    width: 1.25rem;
    fill: white;
    height: auto;
    padding-right: 1rem;
    padding-left: .25rem;
}

#dashboardIcon {
    width: 1.75rem;
    fill: white;
    height: auto;
    padding-right: .75rem;
}

.menuNavItem {
    display: flex;
    font-size: 1rem;
    padding: .5rem;
}

#dashboardLink {
    color: white;
}



#contentsMenu {
    grid-template-columns: 2fr .75fr;
    gap: 15px;
    padding: 20px;
}

#contentsMenu > * {
    display: grid;
}

#classList {
    grid-template-columns: 2fr 2fr;
    gap: 15px;
    padding: 20px;
}

#englishClassList, #computerClassList {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.listedClass {
    display: grid;
    border-left: 6px solid #0466c8;
    border-radius: 10px;
    background-color: white;
    /*grid-template-columns: 1fr 1fr;*/
    grid-template-rows: .5fr 1fr;
    gap: 15px;
}

.classTitle {
    font-size: 1rem;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.classDescription {
    font-size: .75rem;
    color: gray;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
}

#announcements {
    gap: 15px;
    grid-template-rows: 1rem .75fr;
}