@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --red: rgba(255,179,186);
    --blue: rgba(186,225,255);
    --green: rgba(186,255,201);
    --orange: rgba(255,223,186);
    --yellow: rgba(255,255,186);
}

* {
    font-family: "Inter",  sans-serif;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    background: var(--blue);
}

#baseDiv {
    display: flex;
    flex-direction: column;
    background: var(--blue);
    padding: 0;
    margin: 0;
}

#baseDiv > * {
    display: grid;
}

#header, #sideMenu {
    background-color: rgba(59,160,224);
    border-radius: 10px;
}

#header {
    /* grid-template-columns: 3fr 2.5fr; */
    display: grid;
    grid-template-rows: 1.5fr .5fr;
    /* box-shadow: 0px 2px 2px gray; */
    justify-content: center;
    color: white; 
    font-weight: 800;
}

#siteTitleAndLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.siteHeaderPiece#title {
    font-size: 2rem; 
}

#sideMenu {
    display: flex;
    gap: 15px;
    
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

#navigationMenu {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.icon {
    width: 1.25rem;
    fill: white;
    height: auto;
    padding-right: 1rem;
    padding-left: .25rem;
}

#dashboardIcon {
    width: 1.75rem;
    fill: white;
    height: auto;
    padding-right: .75rem;
}

.menuNavItem {
    display: flex;
    font-size: 1rem;
    padding: .5rem;
}

#dashboardLink {
    color: white;

}

#instructions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

#tempInstructions {
    /* border: 2px solid red; */
    border-radius: 10px;
    background: var(--yellow);
    padding: 10px;
}



#contentsMenu {
    grid-template-columns: 2fr .75fr;
    gap: 15px;
    grid-column: 1/3;
}

#contentsMenu > * {
    display: grid;
}

#weekCalendar {
    grid-template-rows: 2fr 2fr;
    gap: 15px;
    padding: 20px;
}

#listedClasses {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 5px;
    /* grid-auto-flow: column; */
}

#englishClassList, #computerClassList, #announcementsTitle {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.sectionTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    font-weight: bold;
    color: black;
}

.dayOfTheWeek {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    gap: 10px;
    border-radius: 10px;
    padding: 10px;
}

/* #englishClassListTitle {
    color: var(--red);
}

#computerClassListTitle {
    color: rgba(37,86,217);
} */

#englishClassList > #listedClasses > .dayOfTheWeek {
    background: var(--red);
}

#computerClassList > #listedClasses > .dayOfTheWeek {
    background: var(--green);
}

.dayTitle {
    display: flex;
    justify-content: center;
    font-weight: bold;
    /* border: 2px solid white; */
    border-radius: 10px;
}

.classTitle {
    font-size: 1rem;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.classDescription {
    font-size: .75rem;
    color: gray;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
}

#announcements {
    gap: 15px;
    grid-template-rows: 1rem .1fr;
    padding: 20px;
}

#announcementList {
    display: flex;
    flex-direction: column;
    gap: 30px;
    /*background-color: white;*/
    background: var(--orange);
    border-radius: 10px;
    padding: 10px;
}

.announcementPiece {
    display: grid;
    grid-template-rows: .125fr 1fr;
    /* border: 2px solid white; */
    border-radius: 10px;
    
}

.announcementTitle {
    font-size: 1.25rem;
    padding: 0;
    font-weight: bold;
}

/* #announcementsTitle {
    color: rgba(255,237,72);
} */



