@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --red: rgba(255,179,186);
    --blue: #769FCD;
    --green: #B9D7EA;
    --orange: #D6E6F2;
    --yellow: rgba(255,255,186);
    --weekPadding: min(5em, 8%);
    --contentsPadding: min(2em, 8%);
    --gap15: min(2em, 20%)
}

* {
    font-family: "Inter",  sans-serif;
}

body {
    display: flex;
    padding: 0;
    margin: 0;
    padding-top: 10rem;
    padding-left: 15rem;
    padding-right: 15rem;
    justify-content: center;
    /* Maybe fill background or sides with pictures of me in classes */
    background: white;
}

#outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--blue);
    padding: 1em;
    margin: 0;
    border-radius: 10px;
}

#header {
    display: grid;
    grid-template-rows: 1.5fr .5fr;
    justify-content: center;
    font-weight: 800;
}


.siteHeaderPiece#title {
    text-align: center;
    font-size: clamp(1.5rem, 10vw, 5rem); 
}

#contentsMenu {
    display: grid;
    grid-template-columns: .75fr 1fr;
}

#contentsMenu > * {
    display: grid;
}

#outerSearchArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#classSearchSection {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr .5fr;
    height: 2rem;
    
}

#searchClass {
    font-size: 1rem;
}

/* #classCode {
    background-color: var(--orange);
} */

.sectionTitle {
    font-weight: bold;
    text-align: center;
}

#instructions {
    font-size: 1.25rem;
}

#announcementsTitle {
    font-size: 2rem;
}

#announcements {
    gap: var(--gap15);
    grid-template-rows: 1rem .1fr;
    padding: var(--contentsPadding);
    grid-column: 2/3;
}

#announcementList {
    display: flex;
    flex-direction: column;
    gap: min(2.5em, 10%);
    background: var(--green);
    border-radius: 10px;
    padding: min(1em,8%);
}

.announcementPiece {
    display: grid;
    grid-template-rows: .125fr 1fr;
    border-radius: 10px;
    
}

.announcementTitle {
    font-size: 1.25rem;
    padding: 0;
    font-weight: bold;
}



