@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --red: rgba(255,179,186);
    --blue: rgba(186,225,255);
    --green: rgba(186,255,201);
    --orange: rgba(255,223,186);
    --yellow: rgba(255,255,186);
    --weekPadding: min(5em, 8%);
    --contentsPadding: min(2em, 8%);
    --gap15: min(1.5em, 8%)
}

* {
    font-family: "Inter",  sans-serif;
}

a {
    text-decoration: none;
    text-align: center;
}

body {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    background: var(--blue);
}

#baseDiv {
    display: flex;
    flex-direction: column;
    background: var(--blue);
    width: 100%;
    padding: 0;
    margin: 0;
}

#baseDiv > * {
    display: grid;
}

#header, #sideMenu {
    background-color: rgba(59,160,224);
    border-radius: 10px;
}

#header {
    /* grid-template-columns: 3fr 2.5fr; */
    display: grid;
    grid-template-rows: 1.5fr .5fr;
    /* box-shadow: 0px 2px 2px gray; */
    justify-content: center;
    color: white; 
    font-weight: 800;
}

#siteTitleAndLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.siteHeaderPiece#title {
    text-align: center;
    font-size: clamp(1.5rem, 10vw, 5rem); 
}

#sideMenu {
    display: flex;
    gap: var(--gap15);
    
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

#navigationMenu {
    display: flex;
    align-items: center;
}

.icon {
    width: min(1em,8%);
    fill: white;
    height: auto;
    padding-right: .125rem;
}

#dashboardIcon {
    width: 2.5rem;
    fill: white;
    height: auto;
    
}

.menuNavItem {
    display: flex;
    justify-content: center;
    font-size: clamp(1rem, 4vw, 1.5rem);
    padding: min(1em, 2%);
}

#dashboardLink {
    color: white;
    font-size: clamp(1.5rem, 4vw, 2rem);
    padding-left: 0;

}

#instructions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: min(2em, 8%);
    padding-right: min(2em, 8%);
}

#tempInstructions {
    /* border: 2px solid red; */
    border-radius: 10px;
    background: var(--yellow);
    padding: min(1em, 8%);
}



#contentsMenu {
    grid-template-columns: 2fr .75fr;
    gap: var(--gap15);
}

#contentsMenu > * {
    display: grid;
}

#weekCalendar {
    grid-template-rows: 2fr 2fr;
    gap: var(--gap15);
    grid-column: 1/2;
    grid-row: 1/2;
    padding: var(--contentsPadding);
}

#listedClasses {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: min(.5em,8%);
    /* grid-auto-flow: column; */
}

#englishClassList,#computerClassList, #announcementsTitle {
    display: flex;
    flex-direction: column;
    gap: var(--gap15);
    
}

.sectionTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    font-weight: bold;
    color: black;
}

.dayOfTheWeek {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    gap: min(1em, 8%);
    border-radius: 10px;
    padding: var(--weekPadding);
}

#englishClassList > #listedClasses > .dayOfTheWeek {
    background: var(--orange);
}

#computerClassList > #listedClasses > .dayOfTheWeek {
    background: var(--green);
}

.dayTitle {
    display: flex;
    justify-content: center;
    font-weight: bold;
    border-radius: 10px;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
}

#announcements {
    gap: var(--gap15);
    grid-template-rows: 1rem .1fr;
    padding: var(--contentsPadding);
    grid-column: 2/3;
}

#announcementList {
    display: flex;
    flex-direction: column;
    gap: min(2.5em, 10%);
    /*background-color: white;*/
    background: var(--red);
    border-radius: 10px;
    padding: min(1em,8%);
}

.announcementPiece {
    display: grid;
    grid-template-rows: .125fr 1fr;
    /* border: 2px solid white; */
    border-radius: 10px;
    
}

.announcementTitle {
    font-size: 1.25rem;
    padding: 0;
    font-weight: bold;
}

/* #announcementsTitle {
    color: rgba(255,237,72);
} */

@media (max-width: 600px) {
    #contentsMenu {
        display: flex;
        flex-direction: column;
    }

    #listedClasses {
        display: flex;
        flex-direction: column;
        gap: min(.5em,8%);
    /* grid-auto-flow: column; */
    }

    .icon, #dashboardIcon {
        width: 0;
    }
}



