@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --red: rgba(139,188,233);
    --blue: rgba(159,197,232);
    --green: rgba(181,210,237);
    --orange: rgba(192,218,241);
    --yellow: rgba(207,226,243);
    --gap15: min(1.5em, 8%)
}

* {
    font-family: "Inter",  sans-serif;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    background: var(--yellow);
}

#baseDiv {
    display: flex;
    width: 100%;
    flex-direction: column;
    background: var(--yellow);
    padding: 0;
    margin: 0;
}

#baseDiv > * {
    display: grid;
}

#header, #sideMenu {
    background-color: var(--red);
    border-radius: 10px;
}

#header {
    /* grid-template-columns: 3fr 2.5fr; */
    display: grid;
    grid-template-rows: 1.5fr .5fr;
    /* box-shadow: 0px 2px 2px gray; */
    justify-content: center;
    color: white; 
    font-weight: 800;
}

#siteTitleAndLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.siteHeaderPiece#title {
    text-align: center;
    font-size: clamp(1.5rem, 10vw, 5rem); 
}

#sideMenu {
    display: flex;
    gap: var(--gap15);
    
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

#navigationMenu {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.icon {
    width: 1.25rem;
    fill: white;
    height: auto;
    padding-right: .125rem;
}

#dashboardIcon {
    width: 2.5rem;
    fill: white;
    height: auto;
    
}

.menuNavItem {
    display: flex;
    font-size: clamp(.25rem, 4vw, 1.5rem);
    padding: min(1em, 2%);
}

.menuHome {
    display: flex;
    padding: min(1em, 2%);
}

.dashboardLink {
    color: white;
}

#homeLink {
    color: white;
    text-align: center;
    font-size: clamp(1.5rem, 4vw, 2rem);
    padding-left: 0;

}

#contentsMenu {
    display: grid;
    grid-template-columns: 2fr .75fr;
    gap: 15px;
    grid-column: 1/3;
}

#contentsMenu > * {
    display: grid;
}

#weeksList {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}

#weeks {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.weekPiece {
    background: var(--green);
    border-radius: 10px;
    padding: 10px;
}

.sectionTitle {
    display: flex;
    align-items: center;
    font-size: 1.75rem;
    font-weight: bold;
    color: black;
}

#announcementsTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#announcements {
    gap: 15px;
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    padding: 20px;
}

#announcementList {
    display: flex;
    flex-direction: column;
    gap: 30px;
    /*background-color: white;*/
    background: var(--blue);
    border-radius: 10px;
    padding: 10px;
}

.announcementPiece {
    display: grid;
    grid-template-rows: .125fr 1fr;
    /* border: 2px solid white; */
    border-radius: 10px;
    
}

.announcementTitle, .weekTitle {
    font-size: 1.25rem;
    padding: 0;
    font-weight: bold;
}

@media (max-width: 600px){
    #contentsMenu {
        display: flex;
        flex-direction: column;
    }

    .menuHome {
        padding: 0;
    }
}

