@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: "Roboto Mono", sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: black;
}

#baseDiv {
    display: grid;
    background-color: aliceblue;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: .5fr 4fr;
    padding: 0;
    margin: 0;
}

#baseDiv > * {
    display: grid;
}

#header {
    grid-template-rows: 3.5rem 4rem;
    gap: 15px;
    background-color: white;
    box-shadow: 0px 2px 2px gray;
    padding: 15px;
}

.siteHeaderPiece#title {
    font-size: 2rem;
}



#sideMenu {
    background-color: #3776c3;
    grid-row: 1/3;
    grid-column: 1/2;
    grid-template-rows: 50px .5fr 1fr;
    gap: 15px;
    color: white;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
}

#backToDashboard {
    padding: .5rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.icon {
    width: 1.25rem;
    fill: white;
    height: auto;
    padding-right: 1rem;
    padding-left: .25rem;
}

#dashboardIcon {
    width: 1.75rem;
    fill: white;
    height: auto;
    padding-right: .75rem;
}

.menuNavItem {
    display: flex;
    font-size: 1rem;
    padding: .5rem;
}

#dashboardLink {
    color: white;
}

#contents {
    grid-template-columns: 2fr .75fr;
    gap: 15px;
    padding: 20px;
}

#contents > * {
    display: grid;
}

#weekList {
    gap: 15px;
    padding: 20px;
    grid-template-rows: repeat(auto-fit, minmax(50px, .2fr));
}

.weekOfClass {
    display: grid;
    border-left: 6px solid #0c57b3;
    border-radius: 10px;
    background-color: white;
    grid-template-rows: .5fr .75fr;
    gap: 15px;
}

.weekTitle, .weekContents {
    padding-left: 15px;
}

.weekTitle {
    font-size: 1rem;
    padding-top: 10px;
    padding-right: 15px;
}

