@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --red: rgba(139,188,233);
    --blue: rgba(159,197,232);
    --green: rgba(181,210,237);
    --orange: rgba(192,218,241);
    --yellow: rgba(207,226,243);
    --gap15: min(1.5em, 8%);
    --textSize: 1.5rem;
}

* {
    font-family: "Inter",  sans-serif;
}

/* a {
    text-decoration: none;
} */

body {
    display: flex;
    padding: 0;
    margin: 0;
    padding-top: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    justify-content: center;
    background: var(--red);
}

#outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--yellow);
    padding: 1em;
    margin: 0;
    border-radius: 10px;
}

#header {
    display: grid;
    grid-template-rows: 1.5fr .5fr;
    justify-content: center;
    font-weight: 800;
}

#siteTitleAndLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.siteHeaderPiece#title {
    text-align: center;
    font-size: clamp(1.5rem, 10vw, 5rem); 
}

#contentsMenu {
    display: flex;
    gap: 15px;
}

#contentsMenu > * {
    display: flex;
}

#weeksList {
    flex-direction: column;
    width: 100%;
    padding: 20px;
    gap: 15px;
}

#weeks {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.weekPiece {
    background: var(--blue);
    border-radius: 10px;
    padding: 10px;
}

#weekAgenda{
    padding: 10px;
    display: grid;
    gap: 15px;
    grid-template-columns: .75fr 1fr;
    grid-template-rows: 1fr .5fr;
}

.moduleTitle {
    padding-top: 10px;
    text-align: center;
    font-size: calc(.25rem + var(--textSize));
    font-weight: bold;
    
}

#homework {
    grid-column: 1/3;
    grid-row: 2/3;
}

#homework > .moduleContents {
    display: flex;
    justify-content: center;
}

#review, #lesson {
    grid-row: 1/2;
}

#review {
    grid-row: 1/2;
    grid-column: 1/2;
}

.moduleContents {
    padding-right: 20px;
}

.moduleContents > * {
    margin-top: 0;
}

#lesson {
    grid-column: 2/3;
}

.agendaModule {
    display: flex;
    flex-direction: column;
    background-color: var(--yellow);
    font-size: var(--textSize);
}

.sectionTitle {
    display: flex;
    align-items: center;
    font-size: calc(1rem + var(--textSize));
    font-weight: bold;
    color: black;
}

.weekTitle {
    font-size: calc(.5rem + var(--textSize));
    padding: 0;
    font-weight: bold;
}

#helpBar {
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    font-size: var(--textSize);
    font-weight: bold;
    border-radius: 10px;
}

.helpBarItem {
    padding: 10px;
}

.helpBarItem > a {
    text-decoration: none;
    color: black;
}


@media (max-width: 1000px){
    #weekAgenda {
        display: flex;
        flex-direction: column;
    }

    #outer {
        margin-left: 0;
        margin-right: 0;
    }

    :root {
        --textSize: 1.25rem;
    }
}
